{
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true,
    "no-prose-wrap": true,
    "trailingComma": "all",
    "comma-dangle": [2, "always-multiline"],
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
